#cancel-button{
    text-align: center;
    font-size: 30px;
}
#login-button{
    text-align: center;
    font-size: 30px;
}

#login_screen{
    max-width: 400px;
    margin: 100px auto;
    max-height: 900px;
    background-color: whitesmoke;
}